.section__item {
  display: flex;
  padding: 9px 0 30px;
  border-top: 1px solid #979797;

  @include media-mobile {
    flex-direction: column;
  }

  .section__day {
    flex: 1 1 0;
    position: relative;

    @include media-mobile {
      margin-bottom: 15px;
      cursor: pointer;
    }

    .arrow-down {
      display: none;

      @include media-mobile {
        position: absolute;
        top: 50%;
        right: 0;
        display: block;
        width: 24px;
        height: 24px;
        background: url(../images/content/down-arrow.png) no-repeat center;
        background-size: 18px;
        transform: translateY(-50%);
        transition: transform $time-anim;
      }
    }

    &.open {

      .arrow-down {
        transform: translateY(-50%) rotate(-180deg);
      }

      ~.section__desc.desc {
        display: block;
      }
    }
  }
  .section__desc.desc {
    flex: 4 1 0;

    @include media-mobile {
      align-self: flex-end;
      display: none;
      padding-right: 24px;
    }
  }
  .desc__item {
    display: flex;
    justify-content: space-between;
    padding-bottom: 10px;

    &:last-child {
      padding-bottom: 0;
    }

    @include media-mobile {
      flex-direction: column;
      padding-bottom: 25px;
    }
  }
  .desc__times, .desc__class, .desc__coach, .desc__level {
    flex: 1 1 0;

  }
  .desc__times {
  }
  .desc__class {
  }
  .desc__coach {
  }
  .desc__level {
  }
}