html,
body {
	height: 100%;

}

* {
	padding: 0;
	margin: 0;
	line-height: 1;

	&,
	&::before,
	&::after {
		box-sizing: border-box;
	}

	&:focus,
	&:active {
		outline: none;
	}
}

.wrapper {
	position: relative;
	display: block;
	overflow: hidden;
	background-color: $color-white;
}


.container {
	display: block;
	max-width: 1170px;
	padding: 0 15px;
	margin: 0 auto;

	@include media-tablet {
		max-width: 750px;
		padding: 0 10px;
	}

	@include media-mobile {
		max-width: 320px;
	}

}

