
@font-face {
  font-family: 'montserrat';
  src: url('../fonts/montserrat.eot');
  src: url('../fonts/montserrat.woff2') format('woff2');
  src: url('../fonts/montserrat.woff') format('woff');
  src: url('../fonts/montserrat.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;

}