doctype html
html
	head
		meta(charset='UTF-8')
		meta(name='viewport', content='width=device-width, initial-scale=1.0')
		block title
			title Empty
		//link(rel="icon", href="images/favicon.png", type="image/png")
		link(rel='stylesheet', href='css/style.css')
	body
		.wrapper
			//include ../header/header
			block content
			//include ../footer/footer

		script(src='js/app.js')

