extends ../../layouts/layout-main/layout-main
include ../../components/day-of-week/day-of-week-mix

block content
    -
        var dayM = [
        {
        time: "6:30 pm - 7:30 pm",
        classG: "Workshop",
        coach: "Lucille Wright",
        level: "Beginners"
        },
        {
        time: "7:45 pm - 8:45 pm",
        classG: "Seminar",
        coach: "Lucille Wright",
        level: "Experienced"
        }
        ];
        var dayT = [
        {
        time: "6:30 pm - 7:30 pm",
        classG: "Workshop",
        coach: "Keith Conner",
        level: "Beginners"
        },
        {
        time: "7:45 pm - 8:45 pm",
        classG: "Q&A",
        coach: "Ada Elliott",
        level: "All levels"
        },
        {
        time: "9:00 pm - 10:00 pm",
        classG: "Q&A",
        coach: "Vernon Carlson",
        level: "Experienced"
        }
        ];
        var dayW = [
        {
        time: "6:30 pm - 7:30 pm",
        classG: "Workshop",
        coach: "Lucille Wright",
        level: "Experienced"
        }
        ];
        var dayTh = [
        {
        time: "6:30 pm - 7:30 pm",
        classG: "Workshop",
        coach: "Lucille Wright",
        level: "Beginners"
        },
        {
        time: "7:45 pm - 8:45 pm",
        classG: "Seminar",
        coach: "Lucille Wright",
        level: "Experienced"
        }
        ];
        var dayF = [
        {
        time: "6:30 pm - 7:30 pm",
        classG: "Workshop",
        coach: "Keith Conner",
        level: "Beginners"
        },
        {
        time: "7:45 pm - 8:45 pm",
        classG: "Q&A",
        coach: "Ada Elliott",
        level: "All levels"
        },
        {
        time: "9:00 pm - 10:00 pm",
        classG: "Q&A",
        coach: "Vernon Carlson",
        level: "Experienced"
        }
        ];
        var dayS = [
        {
        time: "6:30 pm - 7:30 pm",
        classG: "Workshop",
        coach: "Keith Conner",
        level: "Beginners"
        },
        {
        time: "7:45 pm - 8:45 pm",
        classG: "Q&A",
        coach: "Ada Elliott",
        level: "All levels"
        },
        {
        time: "9:00 pm - 10:00 pm",
        classG: "Q&A",
        coach: "Vernon Carlson",
        level: "Experienced"
        }
        ];
        var daySu = [
        {
        time: "6:30 pm - 7:30 pm",
        classG: "Seminar",
        coach: "Keith Conner",
        level: "All levels"
        }
        ];

    .page-schedule.schedule.container.state-2
        .schedule__header.header
            .header__title.Block-title Schedule
            .header__subtitle.Subtitle Apart from working on effective products for businesses, our specialists organize educational programs for business owners and managers.
        .schedule__section.section
            .section__heading.heading
                .heading__item.Heading-large Date
                .heading__item.Heading-large Time
                .heading__item.Heading-large Class
                .heading__item.Heading-large Coach
                .heading__item.Heading-large.level Level
            .section__body.body
                .body__item
                    .body__day.Heading Monday
                        .arrow
                    .body__desc.desc
                        each item in dayM
                            +days(item)
                .body__item
                    .body__day.Heading Tuesday
                    .body__desc.desc
                        each item in dayT
                            +days(item)
                .body__item
                    .body__day.Heading Wednesday
                    .body__desc.desc
                        each item in dayW
                            +days(item)
                .body__item
                    .body__day.Heading Thursday
                    .body__desc.desc
                        each item in dayTh
                            +days(item)
                .body__item
                    .body__day.Heading Friday
                    .body__desc.desc
                        each item in dayF
                            +days(item)
                .body__item
                    .body__day.Heading Saturday
                    .body__desc.desc
                        each item in dayS
                            +days(item)
                .body__item
                    .body__day.Heading Sunday
                    .body__desc.desc
                        each item in daySu
                            +days(item)
                .section__footer.footer
                    button(type="button").footer__btn-download.Medium-button Download a schedule
                    button(type="button").footer__btn-book.Medium-button Book class




