extends ../../layouts/layout-main/layout-main
include ../../components/day-of-week/day-of-week-mix

block content
    -
        var dayM = [
        {
        time: "6:30 pm - 7:30 pm",
        time1: "6:30",
        time2: "7:30",
        classG: "Workshop",
        coach: "Lucille Wright",
        level: "Beginners"
        },
        {
        time: "7:45 pm - 8:45 pm",
        time1: "7:45",
        time2: "8:45",
        classG: "Seminar",
        coach: "Lucille Wright",
        level: "Experienced"
        }
        ];
        var dayT = [
        {
        time: "6:30 pm - 7:30 pm",
        time1: "6:30",
        time2: "7:30",
        classG: "Workshop",
        coach: "Keith Conner",
        level: "Beginners"
        },
        {
        time: "7:45 pm - 8:45 pm",
        time1: "7:45",
        time2: "8:45",
        classG: "Q&A",
        coach: "Ada Elliott",
        level: "All levels"
        },
        {
        time: "9:00 pm - 10:00 pm",
        time1: "9:00",
        time2: "10:00",
        classG: "Q&A",
        coach: "Vernon Carlson",
        level: "Experienced"
        }
        ];
        var dayW = [
        {
        time: "6:30 pm - 7:30 pm",
        time1: "6:30",
        time2: "7:30",
        classG: "Workshop",
        coach: "Lucille Wright",
        level: "Experienced"
        }
        ];
        var dayTh = [
        {
        time: "6:30 pm - 7:30 pm",
        time1: "6:30",
        time2: "7:30",
        classG: "Workshop",
        coach: "Lucille Wright",
        level: "Beginners"
        },
        {
        time: "7:45 pm - 8:45 pm",
        time1: "7:45",
        time2: "8:45",
        classG: "Seminar",
        coach: "Lucille Wright",
        level: "Experienced"
        }
        ];
        var dayF = [
        {
        time: "6:30 pm - 7:30 pm",
        time1: "6:30",
        time2: "7:30",
        classG: "Workshop",
        coach: "Keith Conner",
        level: "Beginners"
        },
        {
        time: "7:45 pm - 8:45 pm",
        time1: "7:45",
        time2: "8:45",
        classG: "Q&A",
        coach: "Ada Elliott",
        level: "All levels"
        },
        {
        time: "9:00 pm - 10:00 pm",
        time1: "9:00",
        time2: "10:00",
        classG: "Q&A",
        coach: "Vernon Carlson",
        level: "Experienced"
        }
        ];
        var dayS = [
        {
        time: "6:30 pm - 7:30 pm",
        time1: "6:30",
        time2: "7:30",
        classG: "Workshop",
        coach: "Keith Conner",
        level: "Beginners"
        },
        {
        time: "7:45 pm - 8:45 pm",
        time1: "7:45",
        time2: "8:45",
        classG: "Q&A",
        coach: "Ada Elliott",
        level: "All levels"
        },
        {
        time: "9:00 pm - 10:00 pm",
        time1: "9:00",
        time2: "10:00",
        classG: "Q&A",
        coach: "Vernon Carlson",
        level: "Experienced"
        }
        ];
        var daySu = [
        {
        time: "6:30 pm - 7:30 pm",
        time1: "6:30",
        time2: "7:30",
        classG: "Seminar",
        coach: "Keith Conner",
        level: "All levels"
        }
        ];

    menu(type="toolbar" role="menu").navigation.container
        li(role="menuitem").navigation__item
            button(type="button" data-class="state-0-all" aria-label="State of page 1").navigation__btn.active-state State 1
        li(role="menuitem").navigation__item
            button(type="button" data-class="state-0-all-link" aria-label="State of page 2").navigation__btn State 2
        li(role="menuitem").navigation__item
            button(type="button" data-class="state-1-three" aria-label="State of page 3").navigation__btn State 3
        li(role="menuitem").navigation__item
            button(type="button" data-class="state-2" aria-label="State of page 4").navigation__btn State 4
        li(role="menuitem").navigation__item
            button(type="button" data-class="state-3-without-subt" aria-label="State of page 5").navigation__btn State 5
        li(role="menuitem").navigation__item
            button(type="button" data-class="state-4-one-btn" aria-label="State of page 6").navigation__btn State 6
        li(role="menuitem").navigation__item
            button(type="button" data-class="state-5-without-btn" aria-label="State of page 7").navigation__btn State 7
        li(role="menuitem").navigation__item
            button(type="button" data-class="state-6-without-btn-subt" aria-label="State of page 8").navigation__btn State 8

    .page-schedule.schedule.container.state-0-all
        header(role="presentation").schedule__header.header
            h1(role="presentation").header__title.Block-title Schedule
            h3(role="presentation").header__subtitle.Subtitle Apart from working on effective products for businesses, our specialists organize educational programs for business owners and managers.
        main.schedule__main.main
            header(role="presentation").main__header
                ul(role="directory").main__heading.heading
                    li(role="presentation" aria-label="Day of educational program").heading__item.Heading-large Date
                    li(role="presentation" aria-label="Time of educational program").heading__item.Heading-large Time
                    li(role="presentation" aria-label="Class of educational program").heading__item.Heading-large Class
                    li(role="presentation" aria-label="Coach of educational program").heading__item.Heading-large.coach Coach
                    li(role="presentation" aria-label="Level of educational program").heading__item.Heading-large.level Level
            article(role="main").main__section.section
                article(role="main").section__item
                    h2(role="presentation" aria-label="Monday").section__day.Heading Monday
                        i.arrow-down
                    .section__desc.desc(role="contentinfo" )
                        each item in dayM
                            +days(item)
                article(role="main").section__item
                    h2(role="presentation" aria-label="Tuesday").section__day.Heading Tuesday
                        i.arrow-down
                    .section__desc.desc(role="contentinfo")
                        each item in dayT
                            +days(item)
                article(role="main").section__item
                    h2(role="presentation" aria-label="Wednesday").section__day.Heading Wednesday
                        i.arrow-down
                    .section__desc.desc(role="contentinfo")
                        each item in dayW
                            +days(item)
                article(role="main").section__item
                    h2(role="presentation" aria-label="Thursday").section__day.Heading Thursday
                        i.arrow-down
                    .section__desc.desc(role="contentinfo")
                        each item in dayTh
                            +days(item)
                article(role="main").section__item
                    h2(role="presentation" aria-label="Friday").section__day.Heading Friday
                        i.arrow-down
                    .section__desc.desc(role="contentinfo")
                        each item in dayF
                            +days(item)
                article(role="main").section__item
                    h2(role="presentation" aria-label="Saturday").section__day.Heading Saturday
                        i.arrow-down
                    .section__desc.desc(role="contentinfo")
                        each item in dayS
                            +days(item)
                article(role="main").section__item
                    h2(role="presentation" aria-label="Sunday").section__day.Heading Sunday
                        i.arrow-down
                    .section__desc.desc(role="contentinfo")
                        each item in daySu
                            +days(item)
        footer(role="group").main__footer.footer
            a(href="#" aria-label="Download a schedule" download).footer__btn-download.Medium-button-secondary Download a schedule
            a(href="#" aria-label="Book a class").footer__btn-book.Medium-button-primary Book a class




