.page-schedule.schedule.container {
  display: flex;
  flex-direction: column;
  padding-top: 20px;
  padding-bottom: 20px;


  .schedule__header.header {

  }
  .header__title {

  }
  .header__subtitle {
    margin-top: 15px;
  }
  .schedule__section.section {
    margin-top: 50px;
  }
  .section__heading.heading {
    display: flex;
  }
  .heading__item {
    padding-bottom: 20px;
  }
  .section__body.body {
    display: flex;
    flex-direction: column;
  }
  .section__footer.footer {
    display: flex;
    justify-content: center;
  }
  .footer__btn-download {
    margin-right: 15px;

  }
  .footer__btn-book {
    background-color: $brownish-grey;
  }



  &.state-2 {

    .level {

      @include media-tablet {
        display: none;
      }
    }

    .w-h {
      width: $w-20;

      @include media-tablet {
        width: $w-25;
      }
    }

    .w-d {
      width: $w-20;

      @include media-tablet {
        width: $w-25;
      }
    }

    .w-desc {
      width: $w-80;

      @include media-tablet {
        width: $w-75;
      }
    }

    .w-d-i {
      width: $w-25;

      @include media-tablet {
        width: $w-33;
      }
    }
  }
}