extends ../../layouts/layout-main/layout-main
include ../../components/day-of-week/day-of-week-mix

block content
    -
        var dayM = [
        {
        day: "Monday",
        time: "6:30 pm - 7:30 pm",
        classG: "Workshop",
        coach: "Lucille Wright",

        level: "Beginners",
        time1: "7:45 pm - 8:45 pm",
        classG1: "Seminar",
        coach1: "Lucille Wright",
        level1: "Experienced"
        }
        ];
        var dayT = [
        {
        day: "Tuesday",
        time: "6:30 pm - 7:30 pm",
        classG: "Workshop",
        coach: "Keith Conner",
        level: "Beginners",

        time1: "7:45 pm - 8:45 pm",
        classG1: "Q&A",
        coach1: "Ada Elliott",
        level1: "All levels",

        time2: "9:00 pm - 10:00 pm",
        classG2: "Q&A",
        coach2: "Vernon Carlson",
        level2: "Experienced"
        }
        ];
        var dayW = [
        {
        day: "Wednesday",
        time: "6:30 pm - 7:30 pm",
        classG: "Workshop",
        coach: "Lucille Wright",
        level: "Experienced"
        }
        ];
        var dayTh = [
        {
        day: "Thursday",
        time: "6:30 pm - 7:30 pm",
        classG: "Workshop",
        coach: "Lucille Wright",
        level: "Beginners",

        time1: "7:45 pm - 8:45 pm",
        classG1: "Seminar",
        coach1: "Lucille Wright",
        level1: "Experienced"
        }
        ];
        var dayF = [
        {
        day: "Friday",
        time: "6:30 pm - 7:30 pm",
        classG: "Workshop",
        coach: "Keith Conner",
        level: "Beginners",

        time1: "7:45 pm - 8:45 pm",
        classG1: "Q&A",
        coach1: "Ada Elliott",
        level1: "All levels",

        time2: "9:00 pm - 10:00 pm",
        classG2: "Q&A",
        coach2: "Vernon Carlson",
        level2: "Experienced"
        }
        ];
        var dayS = [
        {
        day: "Saturday",
        time: "6:30 pm - 7:30 pm",
        classG: "Workshop",
        coach: "Keith Conner",
        level: "Beginners",

        time1: "7:45 pm - 8:45 pm",
        classG1: "Q&A",
        coach1: "Ada Elliott",
        level1: "All levels",

        time2: "9:00 pm - 10:00 pm",
        classG2: "Q&A",
        coach2: "Vernon Carlson",
        level2: "Experienced"
        }
        ];
        var daySu = [
        {
        day: "Sunday",
        time: "6:30 pm - 7:30 pm",
        classG: "Seminar",
        coach: "Keith Conner",
        level: "All levels"
        }
        ];

    .page-schedule.schedule.container.state-2
        .schedule__header.header
            .header__title.Block-title Schedule
            .header__subtitle.Subtitle Apart from working on effective products for businesses, our specialists organize educational programs for business owners and managers.
        .schedule__section.section
            .section__heading.heading
                .heading__item.Heading-large Date
                .heading__item.Heading-large Time
                .heading__item.Heading-large Class
                .heading__item.Heading-large Coach
                .heading__item.Heading-large Level
            .section__body.body
                each item in dayM
                    +days(item)
                each item in dayT
                    +days(item)
                each item in dayW
                    +days(item)
                each item in dayTh
                    +days(item)
                each item in dayF
                    +days(item)
                each item in dayS
                    +days(item)
                each item in daySu
                    +days(item)
                .section__footer.footer
                    button(type="button").footer__btn-download.Medium-button Download a schedule
                    button(type="button").footer__btn-book.Medium-button Book class




