extends ../../layouts/layout-main/layout-main
include ../../components/day-of-week/day-of-week-mix

block content
    -
        var dayM = [
        {
        time: "6:30 pm - 7:30 pm",
        classG: "Workshop",
        coach: "Lucille Wright",
        level: "Beginners"
        },
        {
        time: "7:45 pm - 8:45 pm",
        classG: "Seminar",
        coach: "Lucille Wright",
        level: "Experienced"
        }
        ];
        var dayT = [
        {
        time: "6:30 pm - 7:30 pm",
        classG: "Workshop",
        coach: "Keith Conner",
        level: "Beginners"
        },
        {
        time: "7:45 pm - 8:45 pm",
        classG: "Q&A",
        coach: "Ada Elliott",
        level: "All levels"
        },
        {
        time: "9:00 pm - 10:00 pm",
        classG: "Q&A",
        coach: "Vernon Carlson",
        level: "Experienced"
        }
        ];
        var dayW = [
        {
        time: "6:30 pm - 7:30 pm",
        classG: "Workshop",
        coach: "Lucille Wright",
        level: "Experienced"
        }
        ];
        var dayTh = [
        {
        time: "6:30 pm - 7:30 pm",
        classG: "Workshop",
        coach: "Lucille Wright",
        level: "Beginners"
        },
        {
        time: "7:45 pm - 8:45 pm",
        classG: "Seminar",
        coach: "Lucille Wright",
        level: "Experienced"
        }
        ];
        var dayF = [
        {
        time: "6:30 pm - 7:30 pm",
        classG: "Workshop",
        coach: "Keith Conner",
        level: "Beginners"
        },
        {
        time: "7:45 pm - 8:45 pm",
        classG: "Q&A",
        coach: "Ada Elliott",
        level: "All levels"
        },
        {
        time: "9:00 pm - 10:00 pm",
        classG: "Q&A",
        coach: "Vernon Carlson",
        level: "Experienced"
        }
        ];
        var dayS = [
        {
        time: "6:30 pm - 7:30 pm",
        classG: "Workshop",
        coach: "Keith Conner",
        level: "Beginners"
        },
        {
        time: "7:45 pm - 8:45 pm",
        classG: "Q&A",
        coach: "Ada Elliott",
        level: "All levels"
        },
        {
        time: "9:00 pm - 10:00 pm",
        classG: "Q&A",
        coach: "Vernon Carlson",
        level: "Experienced"
        }
        ];
        var daySu = [
        {
        time: "6:30 pm - 7:30 pm",
        classG: "Seminar",
        coach: "Keith Conner",
        level: "All levels"
        }
        ];

    ul.navigation.container
        li.navigation__item
            buton(type="button" data-class="state-0-all").navigation__btn.active-state State 1
        li.navigation__item
            buton(type="button" data-class="state-0-all-link").navigation__btn State 2
        li.navigation__item
            buton(type="button" data-class="state-1-three").navigation__btn State 3
        li.navigation__item
            buton(type="button" data-class="state-2").navigation__btn State 4
        li.navigation__item
            buton(type="button" data-class="state-3-without-subt").navigation__btn State 5
        li.navigation__item
            buton(type="button" data-class="state-4-one-btn").navigation__btn State 6
        li.navigation__item
            buton(type="button" data-class="state-5-without-btn").navigation__btn State 7
        li.navigation__item
            buton(type="button" data-class="state-6-without-btn-subt").navigation__btn State 8

    .page-schedule.schedule.container.state-0-all
        header.schedule__header.header
            h1.header__title.Block-title Schedule
            sub.header__subtitle.Subtitle Apart from working on effective products for businesses, our specialists organize educational programs for business owners and managers.
        section.schedule__section.section
            .section__heading.heading
                .heading__item.Heading-large Date
                .heading__item.Heading-large Time
                .heading__item.Heading-large Class
                .heading__item.Heading-large.coach Coach
                .heading__item.Heading-large.level Level
            article.section__body.body
                .body__item
                    .body__day.Heading Monday
                        .arrow-down
                    .body__desc.desc
                        each item in dayM
                            +days(item)
                .body__item
                    .body__day.Heading Tuesday
                        .arrow-down
                    .body__desc.desc
                        each item in dayT
                            +days(item)
                .body__item
                    .body__day.Heading Wednesday
                        .arrow-down
                    .body__desc.desc
                        each item in dayW
                            +days(item)
                .body__item
                    .body__day.Heading Thursday
                        .arrow-down
                    .body__desc.desc
                        each item in dayTh
                            +days(item)
                .body__item
                    .body__day.Heading Friday
                        .arrow-down
                    .body__desc.desc
                        each item in dayF
                            +days(item)
                .body__item
                    .body__day.Heading Saturday
                        .arrow-down
                    .body__desc.desc
                        each item in dayS
                            +days(item)
                .body__item
                    .body__day.Heading Sunday
                        .arrow-down
                    .body__desc.desc
                        each item in daySu
                            +days(item)
                footer.section__footer.footer
                    button(type="button").footer__btn-download.Medium-button-secondary Download a schedule
                    button(type="button").footer__btn-book.Medium-button-primary Book a class




